.course h2 {
  font-size: 14px;
}

.instructorGroup {
  padding-bottom: 12px;
}

.instructor {
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.meeting {
  display: flex;
  justify-content: space-between;
}

.unique a:hover {
  background-color: #ccc;
}

.unique {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  gap: 12px;
}

.uniqueSelect {
  appearance: none;

  padding: 0;
  margin: 0 auto;
}

.uniqueSelect::before {
  content: "☆";
  font-size: 16px;
  color: goldenrod;
}

.uniqueSelect:checked:before {
  content: "★";
}
